{% extends 'basicTemplate.html' %}  
{% block title %} Delete Student {% endblock %}  
{% block content %}  
<h2>Are you sure you want to delete the student: {{ object.name }}?</h2>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Confirm Delete" style="padding: 10px; background-color: red; color: white;">
    <a href="{% url 'student-detail' object.id %}" style="padding: 10px; background-color: gray; color: white; text-decoration: none;">Cancel</a>
</form>
{% endblock %}
